{% extends "itn_base.html" %}
{% block js %}
<script src=
"https://code.jquery.com/jquery-3.6.4.min.js">
    </script>
    <!-- table2excel jQuery plugin CDN -->
    <script src=
"//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
    </script>
{% endblock js %}
{% block content %}
  <script src=
"https://code.jquery.com/jquery-3.6.4.min.js">
    </script>
    <!-- table2excel jQuery plugin CDN -->
    <script src=
"//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
    </script>
    <div class="table_container">
        <h2>My ITN Distributions</h2>
        <h2><button id="dwnldBtn">
            Export as Excel
    </button></h2>

        {% if distributions %}
            <table id="distribution" class="distribution-table">
                <thead>
                    <tr>
                        <th>HH ID</th>
                        <th>HH Name</th>
                        <th># of Family Members</th>
                        <th>ITNs Distributed</th>
                        <th>Distribution Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for distribution in distributions %}
                    <tr>
                        <td>{{ distribution.household_id }}</td>
                        <td>{{ distribution.household_head_name }}</td>
                        <td>{{ distribution.number_of_family_members }}</td>
                        <td>{{ distribution.itns_distributed }}</td>
                        <td>{{ distribution.distribution_date }}</td>
                        

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No distributions found.</p>
        {% endif %}
        
</center>
<script>
    $(document).ready(function () {
        $('#dwnldBtn').on('click', function () {
            $("#distribution").table2excel({
                filename: "DistributionData.xls"
            });
        });
    });
</script>
    </div>
{% endblock content %}
