{% extends "base.html" %}
{% block content %}
<!-- Main Content -->
    <section id="home" class="content-section">
        <h1>Welcome to CRS ITN Distribution</h1>
    </section>

    <section id="about" class="content-section light-bg">
        <h2>About Us</h2>
        <p>CRS is committed to fighting malaria through the distribution of insecticide-treated nets (ITNs) across Nigeria.</p>
        <p>Catholic Relief Services is an innovator and leader in the application of information and communication technologies for development (ICT4D) to assist poor and marginalized people in developing communities. The agency was an early adopter of digital tools to enable mass health campaigns, first enabling the digitalization of The Gambia’s LLIN campaign in 2014. Since then, CRS has scaled up its efforts and supported digital health campaigns, including LLIN/ITN, SMC, TB, and onchocerciasis campaigns, in over ten countries across West, Central, and Southern Africa. Today, over 80% of our malaria programs leverage technology for increased programmatic quality, impact, and reach.</p>
    </section>

   
{% endblock content %}