{% extends "base.html" %}
{% block content %}
    <div class="support-container">
        <h2>Technical Support</h2>
        <p>If you need assistance with the ITN Distribution system, please contact the appropriate personnel based on your location or issue level:</p>
        
        <h3>Tier 3: National ICT4D Officers</h3>
        <table class="support-table">
            <tr>
                <th>Name</th>
                <th>Contact Info</th>
                <th>Role</th>
            </tr>
            <tr>
                <td>Sadiq Aliyu Gumel</td>
                <td>sadiq.gumel@crs.org | +234 Phone</td>
                <td>ICT4D Officer</td>
            </tr>
            <tr>
                <td>Chimex Name</td>
                <td>name@crs.org | +234 Phone</td>
                <td>ICT4D Officer</td>
            </tr>
        </table>

        <h3>Tier 2: State ICT4D Consultants</h3>
        <table class="support-table">
            <tr>
                <th>Name</th>
                <th>Contact Info</th>
                <th>State</th>
            </tr>
            <tr>
                <td>Alex Johnson</td>
                <td>kanoconsult@crs.org | +234 phone</td>
                <td>Kano State</td>
            </tr>
            <tr>
                <td>Fatima Bello</td>
                <td>fatima.bello@crs.org | +234 phone</td>
                <td>Jigawa State</td>
            </tr>
            <tr>
                <td>Michael Obi</td>
                <td>michael.obi@crs.org | +234 phone</td>
                <td>Bauchi State</td>
            </tr>
            <tr>
                <td>Grace Odu</td>
                <td>grace.odu@crs.org | +234 phone</td>
                <td>Yobe State</td>
            </tr>
        </table>

        <h3>Tier 1: Local Government Area (LGA) TTAs</h3>
        <table class="support-table">
            <tr>
                <th>Name</th>
                <th>Contact Info</th>
                <th>LGA</th>
            </tr>
            <tr>
                <td>Mustapha Yakubu</td>
                <td>DutseTTA@crs.org | +234 Phone</td>
                <td>Dutse LGA</td>
            </tr>
            <tr>
                <td>Amina Umar</td>
                <td>KiyawaTTA@crs.org | +234 Phone</td>
                <td>Kiyawa LGA</td>
            </tr>
            <!-- Add more rows as necessary -->
        </table>
    </div>
{% endblock %}